# enable this like 'sudo systemctl enable lockscreen@$(whoami).service --now'

[Unit]
Description=Lock the screen on sleep
Before=sleep.target
Before=suspend.target

[Service]
User=%i
Type=simple
Environment=DISPLAY=:0
ExecStartPre=/usr/bin/xset dpms force suspend
ExecStart=%h/.local/scripts/cross-platform/lock-screen
TimeoutSec=infinity

[Install]
WantedBy=sleep.target
WantedBy=suspend.target
